.btncontainer {
	margin-top: 90%;
	margin-left: 2%;
	height: 400px;
}

.pad5 {
	padding: 5% !important;
}

.pad3 {
	padding: 3% !important;
}

.myhead {
	color: #ef6c00;
}

.btn-facebook {
	font-family: inherit;
	padding: 10px;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	font-weight: bold;
	background: #FFF;
	border-radius: 20px;
	color: #ef6c00;
	border-width: 1px;
	border-style: solid;
	text-align: center;
}

.screen-content {
	color: black;
	margin-top: 10%;
	max-height: max-content;
}

.addpad {
	margin-top: 1%;
}

.addpad-first {
	margin-top: 3%;
}

.addpad-end {
	margin-top: 10%;
}

.partner {
	margin-top: 5%;
}

.screen-content input[type="text"] {
	background: rgba(255, 255, 255, 0.8);
	border: none;
	box-shadow: none;
	font-weight: bold;
	font-size: 14px;
	padding: 5px 10px !important;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	border-radius: 10px;
	color: #F78536 !important;
}

.screen-content myselect {
	background: rgba(255, 255, 255, 0.8);
	border: none;
	box-shadow: none;
	font-weight: bold;
	font-size: 14px;
	padding: 5px 10px !important;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	border-radius: 10px;
	color: #F78536 !important
}

@media screen and (max-width: 736px) {
	.resizeinput {
		height: 34px;
	}
	.fh5co-cover .desc .desc2 .headCont {
		display: block;
		margin-top: 2px;
		margin-left: 40px;
		margin-bottom: 110px;
		margin-right: 5px;
	}
	.h_n {
		text-align: center;
		font-size: 15px;
	}
	.waylo-logo {
		font-size: 25px;
	}
	.device-container {
		max-width: max-content;
		max-height: calc(0vh);
		margin: 100px auto 0
	}
	.addpad {
		margin-top: 0%;
	}
	.addpad-first {
		margin-top: 5%;
	}
	.addpad-end {
		margin-top: 0%;
	}
	.screen-content {
		margin-top: 0%;
	}
	.addpad {
		margin-top: 0%;
	}
	.addpad-end {
		margin-top: 0%;
	}
	.screen-content {
		margin-top: 0%;
	}
	.btncontainer {
		margin-top: 10%
	}
	.btn-facebook {
		font-size: 14px;
	}
	div.cs-select span {
		padding: 7px 10px;
	}
	.mylabel {
		font-size: 12px;
	}
	.screen-content input[type="text"] {
		background: rgba(255, 255, 255, 0.8);
		font-size: 12px;
		padding: 3px 10px !important;
		border-radius: 10px;
		color: #F78536 !important;
	}
	.screen-content myselect {
		background: rgba(255, 255, 255, 0.8);
		border: none;
		box-shadow: none;
		font-weight: bold;
		font-size: 14px;
		padding: 3px 10px !important;
		border-radius: 10px;
		color: #F78536 !important
	}
}

@media screen and (height:667px)and (width:375px) {
	/**Iphone 6*/
	.sponsers {
		margin-top: 30%;
	}
	.waylo-logo {
		font-size: 40px;
	}
	.btncontainer {
		margin-top: 16%
	}
	.partner {
		margin-top: 10%;
	}
}

@media screen and (height:640px)and (width:360px) {
	/**Iphone 6*/
	.sponsers {
		margin-top: 28%;
	}
	.waylo-logo {
		font-size: 35px;
	}
	.btncontainer {
		margin-top: 15%
	}
	.partner {
		margin-top: 10%;
	}
}

@media screen and (max-width:420px) {
	/*Nexus*/
	.sponsers {
		margin-top: 35%;
	}
	.partner {
		margin-top: 75%;
	}
}

@media screen and (max-width:375px) {
	.partner {
		margin-top: 63%;
	}
}

@media screen and (max-width:320px) {
	.sponsers {
		margin-top: 1%;
	}
	.partner {
		margin-top: 78%;
	}
}

.overlay {
	overflow: hidden;
	background-image: url(images/bg_demo3.jpg);
	filter: blur(15px);
	background-position: -100px -20px;
}

.infobox-pad {
	margin-top: 1%;
}


/* IPAD */

@media screen and (min-device-width:736px) and (max-device-width:768px) {
	.fh5co-cover .desc .desc2 .headCont {
		display: block;
		margin-top: 90px;
		margin-left: 0px;
		margin-bottom: 110px;
		margin-right: 30px;
		float: left;
	}
	.h_n {
		text-align: center;
		font-size: 12px;
	}
	.btncontainer {
		margin-top: 100%
	}
	.btn-facebook {
		font-size: 14px;
	}
}

.banner {
	background: #c95033;
	height: 225px;
	display: none;
}

.mobile-banner {
	background: #c95033;
}

.banner-image {
	float: left;
}

.banner-info {
	padding: 65px;
	color: white;
}

.banner-head h3 {
	color: white;
}

.banner-body p {
	color: white;
	font-weight: 500;
}

.banner-cancel {
	position: absolute;
	top: 5px;
	right: 10px;
}

.compImg {
	width: 20%;
	padding: 2px;
	margin-bottom: 30px;
}

.compH {
	padding: 16px;
	margin-bottom: -15px;
}

.email-box {
	width: 500px;
}

.footer-logo {
	margin-top: -30px;
}

.btn-facebook:link,
.btn-facebook:visited {
	color: #ef6c00;
}

.btn-facebook:active,
.btn-facebook:hover {
	background: #F78536;
	color: #fff;
}

.btn-facebook {
	margin-top: 5%;
}

.device-container {
	max-width: 350px;
	margin: 0 auto 100px
}

.device-container .screen img {
	border-radius: 3px
}

.screen {
	background-color: rgba(255, 255, 255, 0.8);
}

.placedevice {
	margin-top: -15%;
}